.bttn-row {
  display: table-column;
  margin-left: auto;
  margin-right: auto;
}

.board-game {
  display: grid;
  justify-content: center; 
}

.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 8px;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.active.square {
  background: rgb(217, 255, 0);
  border: 1px solid #000000;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: 1px;
  margin-top: 1px;
  padding: 0;
  text-align: center;
  width: 200px;
}

.square:disabled  {
  background: rgb(213, 213, 213);
  border: 1px solid #000000;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: 1px;
  margin-top: 1px;
  padding: 0;
  text-align: center;
  width: 200px;
}

.square {
  background: #ffffff;
  border: 1px solid #000000;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: 1px;
  margin-top: 1px;
  padding: 0;
  text-align: center;
  width: 200px;
}

.board-row:after {
  clear: both;
  content: '';
  display: flex;
  justify-content: center;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
